input,
textarea,
select {
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
  background: var(--input-base);

  padding-block: 0.812rem;
  padding-left: 1rem;
}

label {
  color: var(--text-body);
  font: var(--body-sm);

  display: block;
  margin-bottom: 0.75rem;
}
