input,
textarea {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--input-stroke);
  background: var(--input-base);

  padding-block: 0.812rem;
  padding-left: 1rem;
  width: 100%;

  color: var(--input-placeholder);
  font: var(--body-md);
}

.input-wrapper {
  flex: 1;
  min-width: 0;
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
}

input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

label {
  color: var(--text-body);
  font: var(--body-sm);

  display: block;
  margin-bottom: 0.75rem;
}
