textarea {
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--input-stroke);
  background: var(--input-base);

  padding-block: 0.812rem;
  padding-left: 1rem;
  width: 100%;

  color: var(--input-placeholder);
  font: var(--body-md);

  &:focus {
    border: 1px solid var(--brand-light);
  }
  
}

.input-wrapper {
  flex: 1;
  min-width: 0;

  input,
  textarea {
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--input-stroke);
    background: var(--input-base);

    padding-block: 0.812rem;
    padding-left: 1rem;
    width: 100%;

    color: var(--input-placeholder);
    font: var(--body-md);
  }
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
}

input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

label {
  color: var(--text-body);
  font: var(--body-sm);

  display: block;
  margin-bottom: 0.75rem;
}

.input-checkbox {
  display: flex;
  gap: 0.7rem;

  & input {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--input-stroke);
    background: var(--input-base);
  }

  & label {
    font: var(--body-sm);
    font-size: 0.8rem;
    display: block;
    align-items: center;
  }

  & input:checked {
    background: url(../../assets/icons/check.svg) no-repeat center/cover;
    border: 1px solid var(--brand-light);
  }
}

input , textarea {
  &:invalid {
    border: 0.125rem solid var(--danger);
  }

  &[required] + .erro {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    order: 1px solid var(--danger);

    font: var(--body-sm);
    color: var(--danger);

    margin-top: 0.25rem;
  }

  &:not(:focus):valid + .erro {
    display: none;
  }

  &:focus {
    border: 1px solid var(--brand-light);
  }
}
