.wrapper-person {
  & .input-wrapper {
    flex: content;
  }
}
.selct-file {
  width: 100%;
  position: relative;
  gap: 0.75rem;
  align-items: center;

  & .btn-filer {
    display: flex;
    height: 2.5rem;

    padding: 0.25rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.5rem;
    background: var(--shape-button);
    position: relative;

    & svg,
    path {
      width: 1rem;
      height: 1rem;
    }

    & input {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }

    & span {
      color: var(--text-heading);
      font: var(--body-sm);
      font-weight: 600;
    }
  }

  & p {
    color: var(--input-placeholder);
    font: var(--body-md);
  }
}
