.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
  background: var(--input-base);
  gap: 0.25rem;
  padding: 4px;
  width: 100%;
  min-height: 2.5rem;
}

.radio-inner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 2.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;

    position: absolute;
    inset: 0;
  }

  & svg {
    width: 16px;
    height: 16px;
  }

  label {
    display: block;
    margin-block: auto;
    color: var(--text-heading);
    font: var(--body-sm);
  }

  .radio-inner input {
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    border-radius: 5px;
    background: var(--shape-button);

    path {
      fill: var(--brand-light);
    }
  }

  &:has(input:checked) {
    border-radius: 5px;
    background: var(--shape-button);

    path {
      fill: var(--brand-light);
    }
  }
}
