body {
  background: var(--shape-background);
}

#app {
  display: grid;
  max-width: 1248px;
  margin-inline: auto;

  grid-template-columns: 48.75% 51.25%;
  gap: 1.25rem;
  height: 100vh;
  overflow: hidden;
  border: 1.25rem solid var(--shape-background);
}

main {
  overflow: auto;

  border-radius: 12px;
  background: var(--Colors-Shape-shape-body, #212427);

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & h2 {
    margin-top: 5rem;
    color: var(--text-heading);
    font: var(--heading-md);
  }
}

aside {
  background: url(../assets/imgs/Background.png) no-repeat center/cover;
  border-radius: 0.8rem;

  & .aside-container {
    max-width: 31rem;
  }
  header {
    display: grid;
    gap: 8px;
    margin: 2.125rem;

    & img:first-child {
      width: 2.865rem;
      height: 3rem;
      margin-bottom: 0.5rem;
    }
    & img:nth-child(2) {
      height: 3.375rem;
      margin-bottom: 8px;
    }

    h1 {
      color: var(--text-heading);
      font: var(--body-md);
    }
  }
}
